
body {
    font-family: 'Hind Siliguri', sans-serif !important;
    background-color: #331133;
    color: #fff;
    touch-action: manipulation;
}

canvas {
    /* border: 1px solid #d0d0d0; */
    background-color: #552255;
    touch-action: manipulation;
}

.instructions {
    text-align: left;
    padding: 10px;
    background-color: #552255;
    height: 140px;
    color: #efefef;
}
.instructions-actions {
}
.instructions-show-trigger {
    position: absolute;
    bottom: 5px;
    left: 15px;
}
.instructions-close-trigger {
    text-align: right;
    text-decoration: underline;
    float: right;
}

.clickable {
    cursor: pointer;
    user-select: none;
}
.clickable:hover {
    text-decoration: underline;
}
.header {
    text-align: left;
    position: relative;
    height: 100px;
    background-image: url("../images/header-background.png");
    background-color: #DD6655;
}
.menu-bar {
    width: 100%;
    text-align: right;
}
.clickable.menu-item {
    color: #fff;
}
.previous-menu {
    /* position: absolute;
    left: 0; */
    display: inline-block;
    margin-right: 1em;
    color: gray;
}
.next-menu {
    /* position: absolute;
    right : 0;
    top: 0; */
    display: inline-block;
    color: gray;
    margin-right: 1em;
}

.title {
    text-align: center;
    font-size: 2em;
    padding-top: 0.3em;
    height: 70px;
}

.content {
    margin: auto;
    width: 600px;
    text-align: center;
}

#level-completion-popup{
    display: none;
    margin: auto;
    width: 300px;
    border-radius: 20px;
    position: absolute;
    border: 10px solid #FFAA66;
    left:0;
    right:0;
    z-index: 100;
    top: 150px;
    background-color: #DD6655;
}
.close-popup{
    float: right;
    font-size: 1.5em;
    margin-top: -.25em;
    margin-right: .25em;
}
.level-complete-text {
    font-size: 40px;
    padding: .75em 1em 0.25em 1em;
}
.next-level-on-popup{
    text-align: right;
    margin: .25em;
}